<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>demo</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <div>
      <form action="/calculate" method="POST" enctype="multipart/form-data">
        <label for="number">转换前数字</label>
        <input type="text" name="number">
        <label for="rule">
          <input type="text" name="rule">
        </label>
        <button type="submit">提交</button>
      </form>
    </div>  
  </body>
</html>
<script>
  console.log(location.search)
</script>